#home {
  height: 93vh;
  background-color: var(--background-color);
  scroll-margin-top: 4rem;
  transition: 0.7s;
  color: var(--text-color);
  align-items: center;
  justify-content: space-evenly;
  display: flex;
}
#home .txtbox {
  font-family: "Nunito", sans-serif;
}
#home h2 {
  font-weight: 500;
  font-size: 5vw;
  line-height: 3rem;
}
#home h2 span {
  font-weight: bolder;
  font-size: 3vw;
}
#home h3 {
  font-weight: bold;
  font-size: 1.2rem;
}
.heading {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 8px;
}
.svgimage {
  width: 500px;
  height: auto;
}
@media only screen and (max-width: 1008px) {
  .svgimage {
    height: 300px;
    width: 300px;
  }
}
@media only screen and (max-width: 768px) {
  #home h2 {
    font-size: 4em;
  }
  #home h2 span {
    font-size: 2.6rem;
  }
}
@media only screen and (max-width: 688px) {
  #home {
    height: 100vh;
    flex-direction: column;
    scroll-margin-top: 0;
  }
  #home .txtbox {
    margin: auto;
    margin-top: 100px;
    margin-bottom: 0;
  }
}
